{% extends "base.html" %}
{% load bootstrap4 %}
    <head>
        <title>Diabetic Retinopathy</title>
    </head>
{% block content %}

<h1>Fill in the requirements</h1><br><br>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='btn btn-success'>Submit</button>
    </form>
</div>
<div class="container">
    <!--<img src="{{ retina.retina_scan.url }}" class='img-responsive'>-->
</div>

{% endblock %}