{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome User, to the Health Portal.</h1>
    <p>This portal which helps diagnose health reports by running your medical specifications through a neural network trained on earlier similar cases. This service will help you to get a second opinion on your existing health condition or make a guess on what disease you might have. You just have to feed some specific details of your medical reports. And Miracle! you get an ordered list of the probable diseases you might be suffering from.<br><br>
        The deep-learning technique which is being used in this portal is known as Neural Network. This will enable us to learn from the existing available datasets to perform supervised learning to predict whether you have a disease and if yes, then what probable disease you might have.<p>
    <hr class="my-4">
    <p class="lead">Proceed to the diagnosis page to get started</p>
</div>
{% endblock content %}